/* general  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-secondary-color: #0084fd;
    --color-dark-color: #333333;
    --color-light-color: #ffffff;
    --color-primary-color: #9792e4;
    --color-bg-card: #b5ddff;
    --color-contrast-color: #fcc060;
    --color-text: #424242;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: var(--color-light-color);
    color: var(--color-text);
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    width:100%;
}

.container {
    padding-left: 3em;
    padding-right: 3em;
}

/* utility */
/* sfondi  */

.bg-primary {
    background-color: var(--color-primary-color);
}
.bg-secondary {
    background-color: var(--color-secondary-color);
}
.bg-light {
    background-color: var(--color-light-color);
}
.bg-card-intro {
    background-color: var(--color-bg-card);
}
.bg-footer {
    background-color: var(--color-dark-color);
}

/* bordi */
.small-border-rounded {
    border-radius: 20px;
}

.big-border-rounded {
    border-radius: 50px;
}

.circle {
    border-radius: 50%;
}

/* padding  */
.px-10 {
    padding-left:10px;
    padding-right: 10px;
}
.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.px-20 {
    padding-left:20px;
    padding-right: 20px;
}
.px-40 {
    padding-left:40px;
    padding-right: 40px;
}
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* testo  */
.text-primary {
    color: var(--color-primary-color);
}
.text-secondary {
    color: var(--color-secondary-color)
}
.text-light {
    color: var(--color-light-color);
}
.text-center {
    text-align: center;
}
.line-height {
    line-height: 2;
}
.text-bold {
    font-weight: bold;
}
.letter-spacing {
    letter-spacing: 5px;
}
.text-uppercase {
    text-transform: uppercase;
}

/* divisori  */
.small-divider {
    margin-bottom: 20px;
}
.big-divider {
    margin-bottom: 50px;
}

/* liste e ancore  */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light-color);
    display: inline-block;
}

/* bottoni  */
.white-button {
    background-color: var(--color-light-color);
    padding: 7px 15px;
    color: var(--color-text);
    border: 1px solid var(--color-light-color);
}

.blue-button {
    background-color: var(--color-secondary-color);
    padding: 10px 40px;
    color: var(--color-light-color);
    border: 1px solid var(--color-secondary-color);
}

.primary-button {
    background-color: var(--color-primary-color);
    padding: 10px 40px;
    color: var(--color-light-color);
    border: 1px solid var(--color-primary-color);
}

/* flex  */
.d-flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.j-space-between {
    justify-content: space-between;
}
.j-space-around {
    justify-content: space-around;
}
.j-flex-start {
    justify-content: flex-start;
}
.j-center {
    justify-content: center;
}
.align-center {
    align-items: center;
    align-content: center;
}
.align-start {
    align-items: flex-start;
    align-content: flex-start;
}
.wrap {
    flex-flow: row wrap;
}
.column-gap {
    column-gap: 10px;
}

/* header  */
/* nav  */
nav #logo {
    width: 70px;
}
nav .submenu {
    display: none;
}
nav .menu-icon {
    font-size: 2em;
}

/* main */
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
section {
    padding: 50px 0;
}

/* intro  */
.col {
    padding: 15px;
}
.card {
    height: 100%;
}
.card-image {
    position:relative;
    top:20px;
}
.card-icon {
    color: var(--color-secondary-color);
    font-size: 5em;
}

/* planning  */
#planning .card p {
    font-style: oblique;
}
#planning .card a {
    color: var(--color-text);
}

/* testimonials  */

.testimonial-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
#testimonials .card {
    flex-direction: column;
    align-items: center;
    align-content: center;
}

/* benefits  */
#benefits .number {
    font-size: 3em;
}

#about-us h4{
    font-size:2em;

}

/* footer  */
footer {
    padding: 50px 0;
}
footer p {
    max-width:400px;
}
footer a {
    text-decoration: underline;
}

/* media query  */
@media screen and (min-width: 576px) {
    
    .d-flex-576 {
        display: flex;
        flex-flow: row wrap;
    }
    .align-stretch {
        align-items: stretch;
        align-content: stretch;
    }
    #intro .col {
        width:calc(100% / 3);
    }
    #intro .col:first-child {
        width: calc((100% / 3) *2);
    }

}

@media screen and (min-width:992px) {
    nav .submenu {
        display: flex;
        flex-flow: row wrap;
    }
    nav .menu-icon {
        display:none;
    }
    section {
        padding: 100px 0;
    }
    #testimonials .card {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 30px;
    }
    #benefits .card-container {
        display: flex;
        flex-flow: row wrap;
    }
    #benefits .card-container .col {
        width: 50%;
    }
    .about-us-container {
        display: flex;
        justify-content: space-evenly;
    }
    .about-us-text{
        width:60%;
    }
    .about-us-quote {
        width:30%;
    }
}

@media screen and (min-width:1200px ) {
    .container {
        max-width:1200px ;
        margin: 0 auto;
    }
    #intro .col:first-child .card {
        display:flex;
    }
    .d-flex-1200 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .planning-intro, .planning-card {
        width:45%;
    }
    #benefits .card-container .col {
        width: 33%;
    }
}